,*
*~      # ignore any file ending with ~
*.un~   # ignore specifically files ending with .un~
.es1*
.es2*
.ec1*
.ek1*
.idea/
.spyproject/
.ruff_cache/
*.bak
__pycache__/
/src/Development-Docs/
/src/Exploratory/
/src/Exploratory-B/
/src/Hold/
/src/Prior/
/Vault/
/Documentation/
/Documentation/upload-*
